.container_menu-bar > ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container_menu-bar > ul > li {
    margin-top: 25px;
    margin-right: 50px;
    list-style: none;
}