<app-menu-bar></app-menu-bar>
<app-menu-title></app-menu-title>
<div class="container_articules">
    <div class="articules-main">
        <app-big-car
            fotoCover = "https://media.istockphoto.com/id/1128826884/vector/no-image-vector-symbol-missing-available-icon-no-gallery-for-this-moment.
            jpg?s=612x612&w=0&k=20&c=390e76zN_TJ7HZHJpnI7jNl7UBpO3UP7hpR2meE1Qd4="
            cardTitle="Lorem ipsum dolor sit amet"
            cardDescricao="Nulla lacinia, urna sit amet lobortis rhoncus, leo leo luctus augue, id mollis libero 
            massa ut velit. Ut at nisl eget dui consectetur eleifend ut posuere nulla. 
            Ut rhoncus ornare sapien, at hendrerit leo gravida sed. Fusce in viverra quam, 
            eget semper libero.">
        </app-big-car>
    </div>

    <div class="articules-other">
        <app-small-card 
            fotoCover="https://th.bing.com/th/id/OIP.TnJzsVUcitJ2R7fkR65qUAHaG1?w=210&h=194&c=7&r=0&o=5&pid=1.7"
            cardTitle="Lorem ipsum dolor sit amet"
        ></app-small-card>

        <app-small-card 
            fotoCover="https://th.bing.com/th/id/OIP.TnJzsVUcitJ2R7fkR65qUAHaG1?w=210&h=194&c=7&r=0&o=5&pid=1.7"
            cardTitle="Lorem ipsum dolor sit amet"
        ></app-small-card>

        <app-small-card 
            fotoCover="https://th.bing.com/th/id/OIP.TnJzsVUcitJ2R7fkR65qUAHaG1?w=210&h=194&c=7&r=0&o=5&pid=1.7"
            cardTitle="Lorem ipsum dolor sit amet"
        ></app-small-card>

    </div>
</div>