<div class="container_big-card">
    <div class="big-card_foto">
        <img 
        src="https://media.istockphoto.com/id/1128826884/vector/no-image-vector-symbol-missing-available-icon-no-gallery-for-this-moment.
        jpg?s=612x612&w=0&k=20&c=390e76zN_TJ7HZHJpnI7jNl7UBpO3UP7hpR2meE1Qd4="
        height="350px"
        width="450px"
        >
    </div>
    <div class="big-card_title">
        <h1><a href="#"> 
            Neque porro quisquam est qui dolorem ipsum quia dolor sit amet
        </a></h1>
    </div>
    <div class="big-card_descricao">
        <p>
            Phasellus ultricies finibus leo, a faucibus felis ultrices rutrum. Fusce nec aliquet tellus, id mollis neque.
            Integer convallis elit ex, nec vulputate velit interdum vitae. Sed pretium dolor ut posuere sollicitudin. Aenean id fringilla purus.
        </p>
    </div>
</div>
